/target/
# Ignore the specific class file 
src/main/java/GenericUtilities/BaseClass.java
src/main/java/GenericUtilities/DataBaseUtility.java
/.github/workflows/build.yml

# ignore specific folder
ExtentReports/ExtentReports
/bin/
SANITIZATION_CONTEXT.md
